* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
  .logo {
    position: absolute;
    text-decoration: none;
    color: #fff; /* changed */
    font-family: 'Arial', Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
  }
  
  .logo a:hover {
    text-decoration: underline;
    text-transform: italic;
    font-weight: normal;
  }
  